# Results — commit CSVs & PNGs, exclude large/unnecessary files
Results/*.parquet
Results/rfm.csv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Môi trường ảo
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db
